{% extends 'base.html' %}

{% block head %}
<title>Password reset</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Password reset</h1>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

    <!--

    python -m smtpd -n -c DebuggingServer localhost:1025

    -->

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset password</button>
    </form>
</div>
{% endblock %}
